.service-name-status{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.status-checker{
    display: flex;
    align-items: center;
}
.status-healthy{
    background: green;
    color: white;
    padding: 1px 13px;
    border-radius: 16px;
}
.status-unhealthy{
    background: red;
    color: white;
    padding: 1px 13px;
    border-radius: 16px;
}